.list_main > div {

  cursor: pointer;        /* 버튼 느낌 */
  user-select: none;      /* 드래그 방지 */
}

td.include:hover {
  background: #2a9d4b;
}

td.include:hover label {
  color: #fff;
  cursor: pointer;
}

td.non:hover label { 
  color: #333;
  cursor: pointer;
}

td.sunday label, td.sunday:hover label {
  color: #d64545;
}

td.saturday label, td.saturday:hover label {
  color: #3b82f6;
}

td.include.sunday:hover label {
  color: #fff;
}